.main {
  margin: 5rem auto;
  width: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.taskContent {
  display: flex;
  color: var(--blue);
  font-size: 0.875rem;
  flex-direction: row;
  border-radius: 8px;
  width: 45rem;
  justify-content: space-between;
  margin-bottom: 10px;
}

.taskMsg {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
  & > div:nth-child(2) {
    margin-top: 20px;
    font-weight: bold;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    margin-top: 1.5rem;
    td {
      padding: 1.5rem;
      background: var(--gray-400);
      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}

.checkBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    width: 24px;
    left: 0;
    position: absolute;
    top: 0;

    &:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 5px;
      opacity: 0;
      position: absolute;
      top: 6px;
      transform: rotate(-45deg);
      width: 12px;
    }
  }
  input[type="checkbox"] {
    visibility: hidden;

    &:checked + label {
      background-color: var(--purple-dark);
      border-color: var(--purple-dark);
    }
    &:checked + label:after {
      opacity: 1;
    }
  }
}